.App {
  text-align: center;
}
.post{

  padding: 12px 20px;
  border: 1px solid teal;
  border-radius: 20px;
  margin: 20px 0;
}
.post__image{
  max-width: 450px;
  box-sizing: content-box;
}
a{
  text-decoration: none;

}
a.active{
  text-decoration: underline;
  color: green;
}
